# Ignore compiled Java class files
*.class

# Ignore temporary files
*.log
*.tmp
*.swp

# Ignore package files
*.jar
*.war
*.ear

# Ignore IDE-specific files
# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
out/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
